:root {
  /* Colors */
  --primary: #8125d8;
  --gray: #f9f9f9;
  --gray-light: #00000099;
  --white: #fff;
  --black: #000;

  /* Font Weight */
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 800;
}
